    <div class="navbar">
      <div class="navbar-inner">
        <a href="/" class="brand">Tuneup JS</a>
        <ul class="nav">
          <li{% if page.title == 'Installation' %} class="active"{% endif %}>
            <a href="installation.html">Installation</a>
          </li>
          <li{% if page.title == 'Writing Tests' %} class="active"{% endif %}>
           <a href="writing.html">Writing Tests</a>
         </li>
          <li{% if page.title == 'Running Tests' %} class="active"{% endif %}>
            <a href="running.html">Running Tests</a>
          </li>
          <li{% if page.title == 'Assertions' %} class="active"{% endif %}>
            <a href="assertions.html">Assertions</a>
          </li>
          <li{% if page.title == 'Community' %} class="active"{% endif %}>
            <a href="community.html">Community</a>
          </li>
          <li{% if page.title == 'Extensions' %} class="active"{% endif %}>
            <a href="extensions.html">Extensions</a>
          </li>
        </ul>
      </div>
    </div>